<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <title>Income and Expense Tracker</title>
    <a href="{% url 'logout' %}">Logout</a>

<h2>Income Entry</h2>

<form>
    <label>Source Name:</label>
    <input type="text" name="source_name" placeholder="Enter income source"><br><br>

    <label>Amount:</label>
    <input type="number" placeholder="Enter amount"><br><br>

    <input type="submit" value="Save">
    <input type="submit" value="View All Income">
</form>
<h2>Expense Entry</h2>

<form>
    <label>Expense Category:</label>
    <select name="category">
        <option value="food">Food</option>
        <option value="travel">Travel</option>
        <option value="bills">Bills</option>
        <option value="savings">Savings</option>
        <option value="shopping">Shopping</option>
    </select><br><br>

    <label>Amount:</label>
    <input type="number" placeholder="Enter amount"><br><br>
    <input type="submit" value="Save">
    <input type="submit" value="View All Expense">
</form>
<a href="{% url 'add_expense' %}">Add Expense</a> |
<a href="{% url 'add_income' %}">Add Income</a> |

<hr>

<h3>Total Income : {{total_income}}</h3>
<h3>Total Expense : {{total_expense}}</h3>
<h3>Balance : {{balance}}</h3>

<hr>

<h2>Expense List</h2>

<table border="1">

<tr>
<th>Title</th>
<th>Amount</th>
<th>Category</th>
<th>Date</th>
<th>Delete</th>
</tr>

{% for expense in expenses %}

<tr>

<td>{{expense.title}}</td>
<td>{{expense.amount}}</td>
<td>{{expense.category}}</td>
<td>{{expense.date}}</td>

<td>
<a href="{% url 'delete_expense' expense.id %}">Delete</a>
</td>

</tr>

{% endfor %}

</table>

</body>
</html>